<!-- -------------------------------- ASIDE -------------------------------- -->
<article class="col-md-2 p-0 aside d-none d-sm-block">
	<div class="container-fluid row">
		<div class="col-lg-8 test">
			<img class="me" id="carousel" src="" alt="photo of me">
		</div>
		<div class="col-lg-1">
			<button id="right-btn" class="ms-0">
				<i class="arrow text-center"></i>
			</button>
		</div>
		<div class="col-lg-3"></div>
	</div>
	<p class='text-center mt-5'>---------</p>
	<img class="logo" src=".././images/hobbies/voyage.png">
	<P class='text-center'>VOYAGES</P>
	<img class='logo' src=".././images/hobbies/joystick.png">
	<P class='text-center'>JEUX VIDEO</P>
	<img class='logo' src=".././images/hobbies/moto.png">
	<P class='text-center'>MOTO</P>
	<p class='text-center'>---------</p>
</article>
