<!-- -------------------------------- ASIDE -------------------------------- -->
<article class="col-md-2 p-0 aside d-none d-sm-block">
	<img id="me" src=".././images/hobbies/me.png" alt="photo of me">
	<p class='text-center mt-5'>---------</p>
	<img class="logo" src=".././images/hobbies/voyage.png">
	<P class='text-center'>VOYAGES</P>
	<img class='logo' src=".././images/hobbies/joystick.png">
	<P class='text-center'>JEUX VIDEO</P>
	<img class='logo' src=".././images/hobbies/moto.png">
	<P class='text-center'>MOTO</P>
	<p class='text-center'>---------</p>
</article>
