{% extends "./../index.html.twig" %}
{% block main %}


	<ul class='mt-5 text-center'>
		<li>
			<p style='font-size: 3rem; font-family:"bobo";'>Lexique</p>
			<p></p>
		</li>
		<li>
			<p>----------------------------------------------------------------------</p>
		</li>
	</li>
</ul>
<section class="container-fluid row">
	<div class="col-lg-4 p-5">
		<ul>
			<li><img style="width:10%" src="../assets/img/dark/html.png" alt=""></li>
			<li style='margin-left:4em;'>HyperText Markup Language</li>
			<li><img style="width:10%" src="../assets/img/dark/css.png" alt=""></li>
			<li style='margin-left:4em;'>Cascading Style Sheets : mise en forme de fichiers et de pages HTML</li>
			<li><img style="width:10%" src="../assets/img/dark/JS.png" alt=""></li>
			<li style='margin-left:4em;'>JavaScript : employé dans les pages web interactives</li>
			<li><img style="width:10%" src="../assets/img/dark/Bootstrap.png" alt=""></li>
			<li style='margin-left:4em;'>Bootstrap : Framework fournissant des outils pour créer un site facilement
								                    avec design responsive.</li>
			<li><img style="width:10%" src="../assets/img/dark/nodejs.png" alt=""></li>
			<li style='margin-left:4em;'>Node.js sert à faire du Javascript server side Node.js</li>

		</ul>
	</div>
	<div class="col-lg-4 p-5">
		<ul>
			<li><img style="width:10%" src="../assets/img/dark/figma.png" alt=""></li>
			<li style='margin-left:4em;'>Figma : solution en ligne de design d’interfaces collaboratif et dynamique,
								                    qui peut être alimentée et partagée au sein d’une équipe de designers.</li>
			<li><img style="width:10%" src="../assets/img/dark/draw.png" alt=""></li>
			<li style='margin-left:4em;'>Draw.io est une application gratuite en ligne, qui permet de dessiner des
								                    diagrammes ou des organigrammes.</li>
			<li><img style="width:10%" src="../assets/img/dark/linux.png" alt=""></li>
			<li style='margin-left:4em;'>Linux est un noyau de système d'exploitation permettant de gérer
								                    l'exécution d'application</li>
			<li><img style="width:10%" src="../assets/img/dark/ts.png" alt=""></li>
			<li style='margin-left:4em;'>TypeScript est un langage améliorant et de sécurisant la production de code
								                    JavaScript. Il s'agit d'un sur-ensemble syntaxique strict de JavaScrip</li>

		</ul>
	</div>
	<div class="col-lg-4 p-5">
		<li><img style="width:10%" src="../assets/img/dark/php.png" alt=""></li>
		<li style='margin-left:4em;'>PHP: Hypertext Preprocessor, langage de programmation libre, production de
						                pages Web dynamiques via un serveur HTTP. (langage impératif orienté objet.</li>
		<li><img style="width:10%" src="../assets/img/dark/sql.png" alt=""></li>
		<li style='margin-left:4em;'>SQL est un langage informatique normalisé servant à exploiter des bases de
						                données relationnelles.</li>
		<li><img style="width:10%" src="../assets/img/dark/MySql.png" alt=""></li>
		<li style='margin-left:4em;'>MySQL Workbench est un logiciel de gestion et d'administration de bases de
						                données MySQL</li>
		<li><img style="width:10%" src="../assets/img/dark/Office.png" alt=""></li>
		<li style='margin-left:4em;'>Suite bureautique Word, Excel, PowerPoint, OneNote, Outlook</li>
	</div>
</section>{% endblock %}
