<!-- ----------------------------- COMPETENCES ----------------------------- -->
<ul id='competences' class='mt-5 text-center'>
	<li>
		<p>----------------------------------------------------------------------</p>
	</li>
	<li>
		<p style='font-size: 3rem; font-family:"bobo";'>Compétences</p>
		<p></p>
	</li>
	<a href="/lexique">lexique</a>

	<div class='text-center h4 mt-3'>Jeu de mémoire : rassemble les animaux perdus !</div>
</ul>

<div class="container_contact container mx-auto row">
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content ">
				<img src=".././images/logos/html-5.png">
				<h3>HTML</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/css-3.png">
				<h3>CSS</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/bootstrap.png">
				<h3>Bootstrap</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>

	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content text-center">
				<img src=".././images/logos/js.png">
				<h3>Java Script</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content text-center">
				<img src=".././images/logos/ts-logo.png">
				<h3>Type Script</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>

	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/php.png">
				<h3>PHP</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
</div>

<div class="container_contact container mx-auto row" style="margin-top: -100px;">
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/node-js.png">
				<h3>Node JS</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/sql.png">
				<h3>SQL</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/express.png">
				<h3>Express</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content text-center">
				<img src=".././images/logos/twig_logo.png">
				<h3>Twig</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>


	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/figma.png">
				<h3>Figma</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/draw.png">
				<h3>DrawIo</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
</div>
<div class="container_contact container mx-auto row" style="margin-top: -100px;">
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/git_color.png">
				<h3>Git</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>

	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/github_white.png">
				<h3>Github</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>

	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/work.png">
				<h3>Workbench</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>

	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/balsamiq.png">
				<h3>Balsamic</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>

	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/linux.png">
				<h3>Linux</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>
	<div class="cell card_contact col-lg-2">
		<div class="face face1">
			<div class="content">
				<img src=".././images/logos/office.png">
				<h3>Office</h3>
			</div>
		</div>
		<div class="face face2">
			<div class="content"></div>
		</div>
	</div>


	<div id='win' class='text-center mt-3 h3'></div>
