<!-- ------------------------------- CONTACT ------------------------------- -->
<ul id='contact' class='mt-5 text-center'>
	<li>
		<p>----------------------------------------------------------------------</p>
	</li>
	<li>
		<p style='font-size: 3rem; font-family:"bobo";'>Contact</p>
		<p></p>
	</li>
	<div class="container_contact container mx-auto row">
		<div class="card_contact col-lg-4">
			<div class="face face1">
				<div class="content">
					<img src=".././images/contact/cv.png">
					<h3>Mon CV</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<a href=".././images/contact/CV Jim Evrard.pdf" target="_blank" download>Mon CV</a>
				</div>
			</div>
		</div>
		<div class="card_contact col-lg-4">
			<div class="face face1">
				<div class="content">
					<img src=".././images/contact/github_grey.png">
					<h3>GitHub</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<a href="https://github.com/JimEvrard/Sites-CV.git" target="_blank">Github du Site</a>
				</div>
			</div>
		</div>
		<div class="card_contact col-lg-4">
			<div class="face face1">
				<div class="content">
					<img src=".././images/contact/linkedin_grey.png">
					<h3>Linkedin</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<a href="https://linkedin.com/in/jim-evrard" target="_blank">Mon Linkedin</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container_contact container row mx-auto" style="margin-top: -100px;">
		<div class="card_contact col-lg-4">
			<div class="face face1">
				<div class="content">
					<img src=".././images/contact/phone_grey.png">
					<h3>Téléphone</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<h4 id="p1">0650323880</h4>
				</div>
			</div>
		</div>
		<div class="card_contact col-lg-4">
			<div class="face face1">
				<div class="content">
					<img src=".././images/contact/mail_grey.png">
					<h3>Mail</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<h4 id="p2">evrard.jim@gmail.com</h4>
				</div>
			</div>
		</div>
		<div class="card_contact col-lg-4">
			<div class="face face1">
				<div class="content">
					<img src=".././images/contact/home_grey.png">
					<h3>Adresse</h3>
				</div>
			</div>
			<div class="face face2">
				<div class="content">
					<h4>Marseille "La Pounche"</h4>
				</div>
			</div>
		</div>
	</div>
