<!-- ----------------------------- EXPERIENCES ----------------------------- -->
<ul id='experience' class='mt-5 text-center'>
	<li>
		<p>----------------------------------------------------------------------</p>
	</li>
	<li>
		<p style='font-size: 3rem; font-family:"bobo";'>Expériences</p>
	</li>
</ul>

<section
	class="container row mx-auto">
	<!-- --------------------------------- RI7 --------------------------------- -->
	<article class="col-lg-4 row-md-4 row-sm-2 row-xs-2">
		<div class="card card-custom bg-white border-white border-0 ">
			<div class="card-custom-img" style="background-image: url(.././images/elements/fancy-pants.jpg);"></div>
			<div class="card-custom-avatar">
				<a href="https://app.ri7.fr/" target="_blank">
					<img class="logo_exp img-fluid" src=".././images/experiences/ri7.png" alt="logo"></a>
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">Etudiant Développeur Web</h4><br>
				<div class="test" id="cible" style="display:none;">
					<p>
						apprentissage :
						<br>
						- Des fondamentaux de la programmation
						<br>
						développement d'un socle technique solide
						<br>
						---------
						<br>
						- Des langages de programmation les plus recherchés du marché
						<br>
						---------
						<br>
						- De conception et deploiement des solutions logicielles répondant aux
																																																																																																																																																																																																																																																																																																																							problématiques des entreprises
					</p>
				</div>
				<p class="card-text">
					Entreprise : Ri7
					<br/>
					Lieu : Aubagne
					<br/>
					Date : 2021 - 2022
				</p>
			</div>
			<div class="card-footer" style="background: inherit; border-color: inherit;">
				<button class="btn btn-outline-dark" onclick="affiche_contenu(this)">Compétences</button>
			</div>
		</div>
	</article>
	<!-- ------------------------------- ACTUAL -------------------------------- -->
	<article class="col-lg-4 row-md-4 row-sm-2 row-xs-2">
		<div class="card card-custom bg-white border-white border-0">
			<div class="card-custom-img" style="background-image: url(.././images/elements/fancy-pants.jpg);"></div>
			<div class="card-custom-avatar">
				<a href="https://www.groupeactual.eu/" target="_blank">
					<img class="logo_exp logo img-fluid" src=".././images/experiences/actual.png" alt="logo"></a>
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">Commercial</h4><br>
				<div id="cible" style="display:none;">
					<p>Création & gestion d'un portefeuille client.
						<br>
						---------
						<br>
						Gestion des ressources, recrutement, sourcing
						<br>
						---------
						<br>
						Gestion de la paie et de la facturation.
						<br>
						---------
						<br>
						Élaboration de plan d'actions, reporting et suivi d'activité.
					</p>
				</div>
				<p class="card-text">
					Entreprise : Actual
					<br/>
					Lieu : Marseille
					<br/>
					Date : 2018 - 2021
				</p>
			</div>
			<div class="card-footer" style="background: inherit; border-color: inherit;">
				<button class="btn btn-outline-dark" onclick="affiche_contenu(this)">Compétences</button>
			</div>
		</div>
	</article>
	<!-- -------------------------------- LIDL --------------------------------- -->
	<article class="col-lg-4 row-md-4 row-sm-2 row-xs-2">
		<div class="card card-custom bg-white border-white border-0">
			<div class="card-custom-img" style="background-image: url(.././images/elements/fancy-pants.jpg);"></div>
			<div class="card-custom-avatar">
				<a href="https://corporate.lidl.fr/" target="_blank">
					<img class="logo_exp img-fluid" src=".././images/experiences/lidl.png" alt="logo"></a>
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">Manager</h4>
				<br>
				<div id="cible" style="display:none;">
					<p>Gestion d'un centre de profit
						<br>
						Chiffre : 180K€ / semaine.
						<br>
						---------
						<br>
						Management d'équipes (30 salariés)
						<br>
						Formateur, gestion des plannings,
						<br>
						---------
						<br>
						Tenue de la ligne de caisses<br>
						---------
						<br>
						Suivi : logistique, commandes, process interne, liquidité bancaire et inventaires
					</p>
				</div>
				<p class="card-text">
					Entreprise : Lidl
					<br/>
					Lieu : Marseille
					<br/>
					Date : 2016 - 2018
				</p>
			</div>
			<div class="card-footer" style="background: inherit; border-color: inherit;">
				<button class="btn btn-outline-dark" onclick="affiche_contenu(this)">Compétences</button>
			</div>
		</div>
	</article>

</section>
<section
	class="container row mx-auto">
	<!-- --------------------------------- NLJ --------------------------------- -->
	<article class="col-lg-4 row-md-4 row-sm-2 row-xs-2">
		<div class="card card-custom bg-white border-white border-0 ">
			<div class="card-custom-img" style="background-image: url(.././images/elements/fancy-pants.jpg);"></div>
			<div class="card-custom-avatar">
				<a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F23744#:~:text=La%20proc%C3%A9dure%20de%20cessation%20de,des%20imp%C3%B4ts%20et%20d%C3%A9claration%20sociale." target="_blank">
					<img class="logo_exp img-fluid" src=".././images/experiences/snack.png" alt="logo"></a>
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">Entrepreneur</h4><br>
				<div id="cible" style="display:none;">
					<p>Création et gestion d'un centre de profit : restauration rapide
						<br>
						---------
						<br>
						Encadrement de salariés, Gestion HACCP, suivi logistique, gestion des commandes,
						<br>
						---------
						<br>
						suivi de process, gestion clientèle, négoce fournisseurs, création de menus
					</p>
				</div>
				<p class="card-text">
					Entreprise : NLJ - Restauration
					<br/>
					Lieu : Marseille
					<br/>
					Date : 2014 - 2016
				</p>
			</div>
			<div class="card-footer" style="background: inherit; border-color: inherit;">
				<button class="btn btn-outline-dark" onclick="affiche_contenu(this)">Compétences</button>
			</div>
		</div>
	</article>
	<!-- ---------------------------- LEROY MERLIN ----------------------------- -->
	<article class="col-lg-4 row-md-4 row-sm-2 row-xs-2">
		<div class="card card-custom bg-white border-white border-0">
			<div class="card-custom-img" style="background-image: url(.././images/elements/fancy-pants.jpg);"></div>
			<div class="card-custom-avatar">
				<a href="https://www.leroymerlin.fr/magazine/en-coulisses/leroy-merlin-une-entreprise-du-groupe-adeo.html" target="_blank">
					<img class="logo_exp logo img-fluid" src=".././images/experiences/lm.png" alt="logo"></a>
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">Commercial BtoC</h4><br>
				<div id="cible" style="display:none;">
					<p>
						Elaboration de plan d'action, négociation, accueil
					</p>
				</div>
				<p class="card-text">
					Entreprise : Leroy Merlin
					<br/>
					Lieu : Marseille
					<br/>
					Date : 2012 - 2014
				</p>
			</div>
			<div class="card-footer" style="background: inherit; border-color: inherit;">
				<button class="btn btn-outline-dark" onclick="affiche_contenu(this)">Compétences</button>
			</div>
		</div>
	</article>
	<!-- --------------------------------- LBP --------------------------------- -->
	<article class="col-lg-4 row-md-4 row-sm-2 row-xs-2">
		<div class="card card-custom bg-white border-white border-0 ">
			<div class="card-custom-img" style="background-image: url(.././images/elements/fancy-pants.jpg);"></div>
			<div class="card-custom-avatar">
				<a href="https://www.labanquepostale.fr/entreprises.html" target="_blank">
					<img class="logo_exp img-fluid" src=".././images/experiences/lbp_rond.jpeg" alt="logo"></a>
			</div>
			<div class="card-body" style="overflow-y: auto">
				<h4 class="card-title">Conseiller Financier</h4>
				<br>
				<div id="cible" style="display:none;">
					<p>
						Gestion de patrimoines financiers Recommandations et placements boursier
																																																																																																																																																																																																																																																																																																																							Vente de produits financiers
					</p>
				</div>
				<p class="card-text">
					Entreprise : La Banque Postale
					<br/>
					Lieu : Marseille
					<br/>
					Date : 2007 - 2012
				</p>
			</div>
			<div class="card-footer" style="background: inherit; border-color: inherit;">
				<button class="btn btn-outline-dark" onclick="affiche_contenu(this)">Compétences</button>
			</div>
		</div>
	</article>
</section>
