<!-- ----------------------------- FORMATIONS ------------------------------ -->
<ul id='formation' class='mt-5 text-center'>
	<li>
		<p>----------------------------------------------------------------------</p>
	</li>
	<li>
		<p style='font-size: 3rem; font-family:"bobo";'>Formations</p>
	</li>
</ul>
<section class="container row mx-auto">
	<div class='col-md-6 p-3'>
		<div class="card">
			<img class="card-img-top w-50" src=".././images/formation/logo_ri7.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Concepteur développeur d'applications</h5>
				<p class="card-text">Formation intensive de 6 mois :
					<br>
					- apprentissage des fondamentaux de la programmation et développement d'un socle
																																	technique .
					<br>
					- apprentissage de la conception et du déploiement des solutions logicielles qui
																																	répondent à des problématiques concrètes d’entreprise.
				</p>
				<a href="https://app.ri7.fr/cursus-diplomants/concepteur-developpeur-d-applications" target='_blank' class="btn btn-dark position-absolute bottom-1">Lien</a>
			</div>
		</div>
	</div>
	<div class='col-md-6 p-3'>
		<div class="card">
			<img class="card-img-top w-50" src=".././images/formation/logo_forma.png" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Conseiller financier</h5>
				<p class="card-text">Compétences enseignées :
					<br>
					- maîtrise des techniques bancaires, et des compétences professionnelles en matière
																																	économique, juridique et fiscale.
					<br>
					- Optimisation des outils et des technologies de l’information et de la communication
																																	(bases de données clients, internet, extranet, tableurs).
				</p>
				<a href="https://formaposte-sudest.fr/formations/bts-negociation-digitalisation-de-la-relation-client-charge-de-clientele-en-agence-h-f/" target='_blank' class="btn btn-dark position-absolute bottom-1">Lien</a>
			</div>
		</div>
	</div>
</section>
