<!-- ------------------------------- HOBBIES ------------------------------- -->
<p class='mt-5 text-center'>----------------------------------------------------------------------</p>
<article class="p-0 d-block d-sm-none text-center">
	<p style='font-size: 3rem; font-family:"bobo";'>Hobbies</p>
	<p class='text-center mt-5'>---------</p>
	<img class="logo" src=".././images/hobbies/voyage.png">
	<P class='text-center'>VOYAGES</P>
	<img class='logo' src=".././images/hobbies/joystick.png">
	<P class='text-center'>JEUX VIDEO</P>
	<img class='logo' src=".././images/hobbies/moto.png">
	<P class='text-center'>MOTO</P>
	<p class='text-center'>---------</p>
</article>
