<!-- ------------------------------- CONTENU ------------------------------- -->
<div class="text-center mt-5 d-block d-sm-none">
	<img class="w-25" src=".././images/hobbies/me.png" alt="photo of me">

</div>
<p class='text-center mt-5 p-4 fs-4'>
	Ancien commercial à la recherche d'une nouvelle voie, milieu de l'IT choisi!
		Acquisition des valeurs professionnelles effectuée !! Compétences techniques en cours d'acquisition !
		Recherche une entreprise permettant de m'épanouir. Vous pourrez voir en moi un véritable couteau-suisse.
</p>
