{% extends "./../index.html.twig" %}
{% block main %}
	<section>
		<ul class='mt-5 text-center'>
			<h2 style='font-family:"bobo";'>PORTFOLIO<h2>
					<li>
						<p>---------------------------------------</p>
					</li>
					<br>
				</ul>
				<div class="container">
					<div class="wrap">

						<div class="box one">
							<a style="text-decoration:none;" target="_blank" href="https://mario.jim-evrard.fr">
								<div class="date">
									<h4>01/10/21</h4>
								</div>
								<h1>Mario</h1>

							</a>
						</div>

						<div class="box two">
							<a style="text-decoration:none;" target="_blank" href="https://drop.jim-evrard.fr">
								<div class="date">
									<h4>01/11/21</h4>
								</div>
								<H1>Drop-Shipping</H1>
							</a>
						</div>

						<div class="box three">
							<a style="text-decoration:none;" target="_blank" href="https://morpion.jim-evrard.fr">
								<div class="date">
									<h4>01/12/21</h4>
								</div>
								<h1>Morpion</h1>
							</a>
						</div>


						<div class="box five">
							<a style="text-decoration:none;" target="_blank" href="https://indexation.jim-evrard.fr">
								<div class="date">
									<h4>01/01/22</h4>
								</div>
								<h1>Indexation</h1>
							</a>
						</div>

						<div class="box six">
							<a style="text-decoration:none;" target="_blank" href="https://clash.jim-evrard.fr">
								<div class="date">
									<h4>01/02/22</h4>
								</div>
								<h1>Clash</h1>
							</a>
						</div>

						<div class="box seven">
							<a style="text-decoration:none;" target="_blank" href="https://jim-evrard.fr/before">

								<div class="date">
									<h4>01/03/22</h4>
								</div>
								<h1>CV</h1>
							</a>

						</div>

						<div class="box eight">
							<div class="date">
								<h4>01/04/22</h4>
							</div>
							<h1>EN PROJET</h1>

						</div>

						<div class="box nine">
							<div class="date">
								<h4>01/05/22</h4>
							</div>
							<h1>EN PROJET</h1>


						</div>


					</div>
				</div>


				<div class='mt-5 text-center'>
					<h2 style='font-family:"bobo";'>Remerciements<h2>
							<li>
								<p>---------------------------------------</p>
							</li>
							<p class='mt-5 p-4 fs-4'>
								Ces projets ont été effectué au sein de l'école Ri7. Chaque projet m'a conduit à apprendre de
																																																																																																																																																																																																															nouveaux langages et nouvelles techniques de conception web.
																																																																																																																																																																																																															Je remercie le staff de l'école ainsi que mon entourage pour leur aide, me permettant de mener à
																																																																																																																																																																																																															bien mon évolution au sein de ce métier aussi passionnant que prenant.
							</p>
						</div>

					</section>
				{% endblock %}
